@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --primary-color: #b0f2c2;
    --background-color: YellowGreen ;
    --dark-color: #151515;
}
html {
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
    max-width: 120rem;
    margin: 0 auto;
}

.heading-1 {
    text-align: center;
    font-weight: 500;
    font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
    background-color: var(--background-color);
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support i {
    font-size: 3.3rem;
}

.content-customer-support {
    display: flex;
    flex-direction: column;
}

.container-logo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.container-logo i {
    font-size: 3rem;
}

.container-user {
    display: flex;
    gap: 1rem;
    cursor: pointer;
}

.container-user .fa-user {
    font-size: 3rem;
    color: var(--primary-color);
    padding-right: 2.5rem;
    border-right: 1px solid #e2e2e2;
}

.container-user .fa-basket-shopping {
    font-size: 3rem;
    color: var(--primary-color);
    padding-left: 1rem;
}

.content-shopping-cart {
    display: flex;
    flex-direction: column;
}

/* ************* NAVBAR ************* */
.container-navbar {
    background-color: var(--primary-color);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.nav-menu {
    display: flex;
    gap: 2rem;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    font-size: 1.6rem;
    color: var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    position: relative;
}

.nav-menu a::after {
    content: '';
    width: 1.5rem;
    height: 1px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%, 50%);
    opacity: 0;
    transition: all 0.3s ease;
}

.nav-menu a:hover::after {
    opacity: 1;
}

.nav-menu a:hover {
    color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
    background-image: linear-gradient(100deg, #000000, #00000020), url('fon12.jpg');
    min-height: 60vh;
    background-size: cover;
    background-position: center;
}

.content-banner {
    max-width: 90rem;
    margin: 0 auto;
    padding: 25rem 0;
    text-align: center;
}

.content-banner p {
    color: var(--primary-color);
    font-size: 1.8rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.content-banner h2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.6;
}

.logo {
    width: 95px;
    height: auto;
    display: block;
    margin: 0 auto;
}
